<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
                        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
                        http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.0.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">



	<bean id="loginJDBCListDS"
		class="com.database.dataservice.LoginJDBCListDS">
		<property name="bipBatchGenericDAO"
			ref="loginJDBCListDS.Param" />
	</bean>

	<bean id="GetUserPasswordDS"
		class="com.database.dataservice.GetUserPasswordDS">
		<property name="bipBatchGenericDAO"
			ref="GetUserPasswordDS.Param" />
	</bean>

	<bean id="GetUserPasswordDS.Param"
		class="com.database.core.GDSimpleJdbcCallImpl">
		<constructor-arg index="0" ref="dataSource" />
		<constructor-arg index="1" type="java.lang.String"
			value="userlogin" />
		<constructor-arg index="2">
			<list>
				<ref bean="userID" />
			</list>
		</constructor-arg>
		<constructor-arg index="3">
			<array value-type="java.lang.String">
				<value>resultCode</value>
				<value>resultStatus</value>
			</array>
		</constructor-arg>
	</bean>

	<bean id="loginJDBCListDS.Param"
		class="com.database.core.GDSimpleJdbcCallImpl">
		<constructor-arg index="0" type="javax.sql.DataSource"
			ref="dataSource" />
		<constructor-arg index="1" type="java.lang.String"
			value="userlogin1" />
		<constructor-arg index="2">
			<list>
				<ref bean="PRODUCT_ID" />
			</list>
		</constructor-arg>
		<constructor-arg index="3" value="loginResultSet" />
		<constructor-arg index="4" ref="actorRowMapper"></constructor-arg>
		<constructor-arg index="5">
			<array value-type="java.lang.String">
			</array>
		</constructor-arg>
	</bean>

	<bean id="userID"
		class="org.springframework.jdbc.core.SqlParameter">
		<constructor-arg value="userID" />
		<constructor-arg ref="VARCHAR" />
		<constructor-arg value="VARCHAR" />
	</bean>

	<bean id="PRODUCT_ID"
		class="org.springframework.jdbc.core.SqlParameter">
		<constructor-arg value="PRODUCT_ID" />
		<constructor-arg ref="INTEGER" />
		<constructor-arg value="INTEGER" />
	</bean>

	<bean id="resultCode"
		class="org.springframework.jdbc.core.SqlOutParameter">
		<constructor-arg value="resultCode" />
		<constructor-arg ref="VARCHAR" />
	</bean>

	<bean id="resultStatus"
		class="org.springframework.jdbc.core.SqlOutParameter">
		<constructor-arg value="resultStatus" />
		<constructor-arg ref="VARCHAR" />
	</bean>
</beans>
